doc/benchmark_results/                          export-ignore
doc/buildbot/                                   export-ignore
doc/luxmark.txt                                 export-ignore
doc/handling_loops.txt                          export-ignore
doc/LAUNDRY                                     export-ignore
doc/notes*.txt                                  export-ignore
doc/spir-todo.txt                               export-ignore
doc/ttasim_kernel_capturer.txt                  export-ignore
doc/www/                                        export-ignore

examples/piglit/sorted_ref*                     export-ignore
# this one is ~20M
examples/Rodinia/pathfinder.stdout              export-ignore

lib/kernel/amdgcn                               export-ignore
lib/kernel/convert_type.py                      export-ignore

lib/kernel/libclc-pocl/gen_vectorize.rb         export-ignore
lib/kernel/sleef/gen*                           export-ignore

scripts/pocl-build.in                           export-ignore
scripts/pocl-kernel.in                          export-ignore
scripts/pocl-workgroup.in                       export-ignore

tests/kernel/test_convert_type.py               export-ignore
tests/kernel/test_convert_type.sh               export-ignore
tests/testsuite*                                export-ignore
tests/amdsdk.at                                 export-ignore
tests/atlocal.in                                export-ignore

tools/gdb-breakpoints                           export-ignore
tools/scripts/benchmark_barchart.py             export-ignore
tools/scripts/benchmark.py                      export-ignore
tools/scripts/devel-configure                   export-ignore

# should we include these ?
android/      export-ignore
windows/      export-ignore
