build*/*
*~

**/.deps
**/.libs
*.bc
*.la
*.lo
*.o

Makefile
Makefile.in

aclocal.m4
autom4te.cache

config.h
config2.h
config.h.in
config.log
config.status
config/ar-lib
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
configure

doc/sphinx/build/

examples/EinsteinToolkit/EinsteinToolkit
examples/example1/example1
examples/example1-spir32/example1-spir32
examples/example1-spir64/example1-spir
examples/example2/example2
examples/example2a/example2a
examples/scalarwave/scalarwave
examples/standalone/standalone.h
examples/trig/trig

include/arm/types.h
include/cellspu/types.h
include/powerpc/types.h
include/powerpc64/types.h
include/x86_64/types.h

install-paths.h

libtool

lib/CL/kernellib_hash.*

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

ocl-vendors/pocl-tests.icd

pocl.icd
pocl.pc

bin/poclcc

stamp-h1

# these are created by Qt Creator

pocl.config
pocl.creator
pocl.creator.user
pocl.files
pocl.includes
CMakeLists.txt.includes
CMakeLists.txt.user
/examples/CLBlast/CLBlast/

#clion related files
.idea/
cmake-build-*/
