**/.deps
**/.libs
*.bc
*.la
*.lo
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config/ar-lib
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
configure
examples/EinsteinToolkit/EinsteinToolkit
examples/ViennaCL
examples/example1/example1
examples/example2/example2
examples/example2a/example2a
examples/scalarwave/scalarwave
examples/standalone/standalone.h
examples/trig/trig
include/CL/cl.hpp
include/arm/types.h
include/cellspu/types.h
include/powerpc/types.h
include/powerpc64/types.h
include/tce/types.h
include/x86_64/types.h
install-paths.h
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
ocl-vendors/pocl-tests.icd
pocl.pc
scripts/pocl-build
scripts/pocl-kernel
scripts/pocl-standalone
scripts/pocl-workgroup
stamp-h1
tests/atconfig
tests/atlocal
tests/kernel/kernel
tests/kernel/sampler_address_clamp
tests/package.m4
tests/regression/test_barrier_before_return
tests/regression/test_barrier_between_for_loops
tests/regression/test_constant_array
tests/regression/test_early_return
tests/regression/test_for_with_var_iteration_count
tests/regression/test_id_dependent_computation
tests/regression/test_infinite_loop
tests/regression/test_locals
tests/regression/test_loop_phi_replication
tests/regression/test_multi_level_loops_with_barriers
tests/regression/test_null_arg
tests/regression/test_setargs
tests/regression/test_simple_for_with_a_barrier
tests/regression/test_structs_as_args
tests/regression/test_undominated_variable
tests/regression/test_vectors_as_args
tests/runtime/test_clCreateProgramWithBinary
tests/runtime/test_clGetDeviceInfo
tests/runtime/test_clGetEventInfo
tests/runtime/test_clGetSupportedImageFormats
tests/testsuite
tests/testsuite.dir
tests/testsuite.log
tests/workgroup/run_kernel
