**/.deps
**/.libs
*.bc
*.la
*.lo
*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config/ar-lib
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
configure
examples/EinsteinToolkit/EinsteinToolkit
examples/example1/example1
examples/example1-spir32/example1-spir32
examples/example1-spir64/example1-spir
examples/example2/example2
examples/example2a/example2a
examples/scalarwave/scalarwave
examples/standalone/standalone.h
examples/trig/trig
include/CL/cl.hpp
include/arm/types.h
include/cellspu/types.h
include/powerpc/types.h
include/powerpc64/types.h
include/x86_64/types.h
install-paths.h
libtool
lib/CL/kernellib_hash.*
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
ocl-vendors/pocl-tests.icd
pocl.icd
pocl.pc
scripts/pocl-build
scripts/pocl-kernel
scripts/pocl-standalone
scripts/pocl-workgroup
scripts/poclcc/poclcc
scripts/poclcc/poclccreader
stamp-h1
tests/atconfig
tests/atlocal
tests/kernel/kernel
tests/kernel/image_query_funcs
tests/kernel/sampler_address_clamp
tests/package.m4
tests/*/test_*
!tests/runtime/*.c
tests/testsuite
tests/testsuite.dir
tests/testsuite.log
tests/workgroup/run_kernel
