Carlos Sánchez de La Lama <csanchezdll@gmail.com> <carlos.delalama@urjc.es>
Carlos Sánchez de La Lama <csanchezdll@gmail.com> <csanchez@csanchez-desktop>
Carlos Sánchez de La Lama <csanchezdll@gmail.com> Carlos Sanchez de La Lama <carlos.delalama@urjc.es>

Clement Leger <clement.leger@kalray.eu> Clément <vangelis@fixe>

Daniel Sanders <daniel.sanders@imgtec.com> Daniel Sanders META COSY <daniel.sanders@imgtec.com>

Erik Schnetter <schnetter@gmail.com> <eschnetter@perimeterinstitute.ca>
Erik Schnetter <schnetter@gmail.com> Erik Schnetter <>

Heikki Kultala <heikki.kultala@tut.fi> <hkultala@iki.fi>
Heikki Kultala <heikki.kultala@tut.fi> <hkultala@trurl.(none)>
Heikki Kultala <heikki.kultala@tut.fi> heikki-llvm-svn-testing <hkultala26@tiberias>
Heikki Kultala <heikki.kultala@tut.fi> hkultala@cs.tut.fi <>

Hugo van der Wijst <hugo@wij.st> <hugwijst@gmail.com>

Kalle Raiskila <kraiskil@ovi.com> <kalle.raiskila@nokia.com>
Kalle Raiskila <kraiskil@ovi.com> <kraiski@ovi.com>
Kalle Raiskila <kraiskil@ovi.com> Kalle <kraiskil@debian>
Kalle Raiskila <kraiskil@ovi.com> Kalle Raiskila <>
Kalle Raiskila <kraiskil@ovi.com> kraiskil@debian <>
Kalle Raiskila <kraiskil@ovi.com> kraiskil <kraiskil@marvin>
Kalle Raiskila <kraiskil@ovi.com> kraiskil <kraiskil@users.noreply.github.com>

Krishnaraj Raghavendra Bhat <krrishnarraj@gmail.com> Krishnaraj Bhat <krrishnarraj@gmail.com>
Krishnaraj Raghavendra Bhat <krrishnarraj@gmail.com> Krishnaraj R Bhat <krrishnarraj@gmail.com>

Matias Koskela <matias.koskela@tut.fi> <koskel29@kaliforniankeiju.cs.tut.fi>

Michal Babej <michal.babej@tut.fi> <Franz.Netykafka@runbox.com>
Michal Babej <michal.babej@tut.fi> <franz@users.noreply.github.com>

Pekka Jääskeläinen <pekka.jaaskelainen@tuni.fi> <pekka.jaaskelainen@gmail.com>
Pekka Jääskeläinen <pekka.jaaskelainen@tuni.fi> <pjaaskel@haikara>
Pekka Jääskeläinen <pekka.jaaskelainen@tuni.fi> <pjaaskel@users.noreply.github.com>
Pekka Jääskeläinen <pekka.jaaskelainen@tuni.fi> <visit0r@debian>
Pekka Jääskeläinen <pekka.jaaskelainen@parmance.com> <pekka.jaaskelainen@parmance.com>
Pekka Jääskeläinen <pekka.jaaskelainen@tuni.fi> Pekka Jaaskelainen <pekka.jaaskelainen@tut.fi>

Ville Korhonen <ville.t.korhonen@tut.fi> <korhone5@nokitikka.cs.tut.fi>
Ville Korhonen <ville.t.korhonen@tut.fi> vkorhonen <ville.t.korhonen@tut.fi>

Vincent Danjean <vdanjean@eyak.imag.fr> <Vincent.Danjean@ens-lyon.org>

Vladimir Guzma <vladimir.guzma@tut.fi> <vg@punarastas>
