body
{
    background-color : white;
    width: 800px;
    align: center;
    margin-left: auto;
    margin-right: auto;
}
h1#title
{
    background-color: white;
    color: black;
    padding: 0px;
    vertical-align: middle;
    text-align: left;
}

p {
    text-align: left;
}

p.footer {
#    background-color: #000044;
    color: black;
    padding: 10px;
#    border-style: solid;
#    border-color: black;

}

p.license_text {
    font-size: xx-small;
}


h1
{
    background-color: #E6E6E6;
    padding: 4px;
    font-size: large;
    text-align: left;
}

h2
{
    background-color: #F2F2F2;
    padding: 4px;
    font-size: medium;
    font-weight: bold;
    text-align: left;
}

h3
{
    background-color: #F2F2F2;
    padding: 4px;
    font-size: medium;
    font-weight: normal;
    text-align: left;
}


#header
{
    border-bottom-style: double;
    border-bottom-color: black;
}

#footer
{
    border-style: solid;
    border-color: black;
}


#navi
{
    width: 100%;
    min-height: 40px;
#    background-color: #0000aa;
#    border-style: solid;
    border-width: 1px;
    border-color: black;
    vertical-align: top;
    text-align: center;
    border-bottom: solid;

}

#menu_item_list
{
    float: left;
    margin-top: 0px;
    margin-left: 15px;
    padding: 0px;
    font-size: 12px;
    list-style-type: none;
}

#page 
{
}

#content
{
    clear: both;
}


li.menu_item 
{
    float: left;
    margin: 15px;
}

a.menu_link 
{
}

