---
name: Weekly full CTS runs

permissions:
  contents: read

on:
  workflow_dispatch:
  schedule:
# at 14:01 every friday
    - cron: '01 14 * * 5'

env:
  CTEST_FLAGS: "--output-on-failure --test-output-size-failed 128000 --test-output-size-passed 128000 --test-output-truncation head --repeat until-pass:3"
  POCL_KERNEL_CACHE: "0"
  POCL_MAX_PTHREAD_COUNT: "2"
  POCL_MAX_WORK_GROUP_SIZE: "1024"
  POCL_MEMORY_LIMIT: "2"
  CCACHE_COMPRESS: "true"
  CCACHE_COMPRESSLEVEL: "1"
  CCACHE_MAXSIZE: "25000M"

jobs:
  cpu_cts:
    name: LLVM ${{ matrix.llvm }} - CPU ${{ matrix.config }}
    runs-on: [self-hosted, linux, x64, full_cts_cpu, full_cts_spirv_cpu]
    timeout-minutes: 1600
    # CPU runners have action runner directly in the home directory
    env:
      CCACHE_DIR: "${{ github.workspace }}/../../../ccache_storage"
      EXAMPLES_DIR: "${{ github.workspace }}/../../../examples"
      TSAN_OPTIONS: "second_deadlock_stack=1"
    strategy:
      fail-fast: false
      matrix:
        llvm: [17]
        config: [cts_full, cts_full_spirv]

    steps:
      - uses: actions/checkout@v4

      - name: Run CMake
        id: cmake
        run: |
          rm -rf ${{ github.workspace }}/build
          mkdir ${{ github.workspace }}/build
          mkdir -p ${EXAMPLES_DIR}/build_${{ matrix.llvm }}_${{ matrix.config }}
          mkdir -p ${EXAMPLES_DIR}/source

          BUILD_FLAGS="-O2 -march=native"
          cmake -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
          -DCMAKE_BUILD_TYPE=Release "-DCMAKE_C_FLAGS_RELEASE=$BUILD_FLAGS" "-DCMAKE_CXX_FLAGS_RELEASE=$BUILD_FLAGS" \
          -DWITH_LLVM_CONFIG=/usr/bin/llvm-config-${{ matrix.llvm }} -DLLVM_SPIRV=/usr/bin/llvm-spirv-${{ matrix.llvm }} \
          -DTESTSUITE_SOURCE_BASEDIR=${EXAMPLES_DIR}/source -DTESTSUITE_BASEDIR=${EXAMPLES_DIR}/build_${{ matrix.llvm }}_${{ matrix.config }} -DENABLE_TESTSUITES=conformance -DENABLE_CONFORMANCE=ON \
          -B ${{ github.workspace }}/build ${{ github.workspace }}

      - name: Run Build
        id: build
        run: |
          cd ${{ github.workspace }}/build && make -j$(nproc) && make -j$(nproc) prepare_examples

      - name: Run Tests
        id: ctest
        env:
          POCL_CACHE_DIR: "${{ runner.temp }}/GH_POCL_CACHE"
        run: |
          runCTest() {
            cd ${{ github.workspace }}/build &&  ctest -j$(nproc) $CTEST_FLAGS "$@"
          }
          rm -rf ${{ env.POCL_CACHE_DIR }}
          mkdir ${{ env.POCL_CACHE_DIR }}
          if [ "${{ matrix.config }}" == "cts_full" ]; then
            runCTest -L conformance_suite_full_main
          elif [ "${{ matrix.config }}" == "cts_full_spirv" ]; then
            runCTest -L conformance_suite_full_spirv
          else
            echo "Unknown configuration" && exit 1
          fi

  level_zero_cts:
    name: LLVM ${{ matrix.llvm }} - LevelZero ${{ matrix.config }}
    runs-on: [self-hosted, linux, x64, full_cts_l0, full_cts_spirv_l0]
    timeout-minutes: 1600
    env:
      CCACHE_DIR: "${{ github.workspace }}/../../../../ccache_storage"
      EXAMPLES_DIR: "${{ github.workspace }}/../../../../examples"
    strategy:
      fail-fast: false
      matrix:
        llvm: [17]
        config: [cts_full, cts_full_spirv]

    steps:
      - uses: actions/checkout@v4

      - name: Run CMake
        id: cmake
        run: |
          rm -rf ${{ github.workspace }}/build
          mkdir ${{ github.workspace }}/build
          mkdir -p ${EXAMPLES_DIR}/build_${{ matrix.llvm }}_${{ matrix.config }}
          mkdir -p ${EXAMPLES_DIR}/source

          BUILD_FLAGS="-O2 -march=native"
          cmake -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
          -DCMAKE_BUILD_TYPE=Release "-DCMAKE_C_FLAGS_RELEASE=$BUILD_FLAGS" "-DCMAKE_CXX_FLAGS_RELEASE=$BUILD_FLAGS" \
          -DWITH_LLVM_CONFIG=/usr/bin/llvm-config-${{ matrix.llvm }} -DLLVM_SPIRV=/usr/bin/llvm-spirv-${{ matrix.llvm }} \
          -DENABLE_LEVEL0=1 -DENABLE_HOST_CPU_DEVICES=0 -DSTATIC_LLVM=1 \
          -DTESTSUITE_SOURCE_BASEDIR=${EXAMPLES_DIR}/source -DTESTSUITE_BASEDIR=${EXAMPLES_DIR}/build_${{ matrix.llvm }}_${{ matrix.config }} -DENABLE_TESTSUITES=conformance -DENABLE_CONFORMANCE=ON \
          -B ${{ github.workspace }}/build ${{ github.workspace }}

      - name: Run Build
        id: build
        run: |
          cd ${{ github.workspace }}/build && make -j4 && make -j4 prepare_examples

      - name: Run Tests
        env:
          POCL_CACHE_DIR: "${{ runner.temp }}/GH_POCL_CACHE"
        id: ctest
        timeout-minutes: 450
        run: |
          runCTest() {
            cd ${{ github.workspace }}/build && ${{ github.workspace }}/tools/scripts/run_level0_tests -j4 $CTEST_FLAGS "$@"
          }
          rm -rf ${{ env.POCL_CACHE_DIR }}
          mkdir ${{ env.POCL_CACHE_DIR }}
          if [ "${{ matrix.config }}" == "cts_full" ]; then
            runCTest -L conformance_suite_full_main
          elif [ "${{ matrix.config }}" == "cts_full_spirv" ]; then
            runCTest -L conformance_suite_full_spirv
          else
            echo "Unknown configuration" && exit 1
          fi
